.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  cursor: pointer;
  z-index: 100;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  display: flex;
  column-count: 2;
  height: 95vh;
}
.content {
  padding: 40px;
  width: 100vh;
}

.side-nav {
  padding: 20px 20px 0 0;
  border-right: 1px solid #a4a5a7;
  box-shadow: 2px 0 3px 0 #a4a5a7;
}
.link {
  color: #333;
  cursor: pointer;
}
.is-active .link {
  color: #053ae6;
  /* font-weight: 600; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
